/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@700&family=Poppins:wght@500&display=swap');
/
* html settings  */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* body part  */

body{
    font-family: 'Montserrat', sans-serif;
    margin:0 auto;
    background-image: linear-gradient(rgb(255, 255, 255),rgba(216, 151, 137, 0.281));
}

/* Heading part  */

.container{
    max-width:1200px;
    margin:20px auto;
}
.heading{
    display:flex;
    justify-content: space-between;
    align-items: center ;
    margin-bottom: 30px;
}
.title h1{
    font-size:30px;
    color:#303538
}
.focus{
    color:goldenrod;

}
nav ul{
    display:flex;
    align-items:center;

}
nav ul li{
    list-style: none;
    margin-right:15px;
    font-size: 18px;
    padding:10px;

   
}
li a{
    color:#303538;
    text-decoration: none;
    font-weight: 600;
}

/* Introduction section starts here  */
.introduction{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    align-items: center;
}
.introduction-left h1{
    font-size: 50px;
    color:#303538;
}
.introduction-left p{
    line-height: 1.5;

}
.uni-button{
background-image: linear-gradient(rgb(255, 183, 0),rgb(206, 147, 0));
font-weight: 600;
font-size: 18px;
color:white;
outline: 0;
border:none;
border-radius: 15px;
padding:10px 25px;
}
.fa-angle-double-right{
    padding:0 15px;
}
.introduction-right img{
margin-left: 50px;
}

/* Horizontal carrier */
.divider{
    border:2px solid lightgrey;
    width:90%;
    border-radius:20px;
    margin:30px;

}
.logos{
    display:flex;
   justify-content: space-evenly;
   align-items: center;
}

.popular-collections h3{
    font-size:30px;
    color:#303538;
    display:flex;
   justify-content: center;
   margin:50px 0;  
}
.gallery {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
   margin:20px 80px;
}
.collections h2,h3{
    color:#303538;
    font-size:1.5em;
}
.fa-star.filled{
    color:goldenrod;
    font-size: small;
}
.fa-star.empty{
    color:gray;
    font-size: small;
}
.half{
    color:goldenrod;
    font-size: small;
}
.collections{
    background-color: white;
    box-shadow: 0 20px 30px rgba(216, 151, 137, 0.507);
    margin:15px 15px;
    padding:10px 23px;
    border-radius: 12px;
}
.conclusion{
    background-color:rgba(202, 129, 113, 0.493);
    padding:15px;

}
.conclusion h2{
    display:flex;
    justify-content: center;
   align-items: center; 
   margin:0;
}
.social-net{
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin:0;
}
.communication a{
    margin:0;
    color:#303538;
    background-color:rgb(255, 255, 255) ;
    border-radius: 50px;
    font-size: 18px;
   padding:0 5px;
   margin:0 5px;
   

}
